*{margin: 0; padding: 0; color: #343434;
    font: NanumGothic;}

*:focus {
    outline: 0;
}

@font-face {
    font-family: '윤고딕320';
    src: url(../font/윤고딕320) format('truetype');
    font-family: 'Cocomat_Light-trial';
    src: url(../font/Cocomat_Light-trial) format('truetype');
    font-family: 'Cocomat_Ultralight-trial';
    src: url(../font/Cocomat_Ultralight-trial) format('truetype');
}

#topnav {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 5;
}

.top_search_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    height: 20px;
    width: 20px;
    transition: 0.5 ease-in-out;
    -webkit-transition: 0.5 ease-in-out;
}

#search {
    position: fixed;
    width: 20%;
    height: 70px;
    right: 0px;
    top: 0px;
    z-index: 20;
    transition: 0.5 ease-in-out;
    -webkit-transition: 0.5 ease-in-out;
}

#search_icon_focused {
    position: absolute;
    width: 100%;
    right: 0px;
    height: 4px;
    bottom: 0px;
    background-color: #31363d;
    opacity: 0;
    transition: 0.3s ease-in-out;
    -webkit- transition: 0.3s ease-in-out;
}

#searchbar_background {
    position: fixed;
    top: 70px;
    min-height: 70px;
    height:10%;
    width:100%;
    background-color: #43474e;
    opacity: 0;
    transition: 0.3s ease-in-out;
    -webkit- transition: 0.3s ease-in-out;
    pointer-events: none;
}

#search_icon {
    position: absolute;
    top: 50%;
    left: 45%;
    margin-top: -8px;
    margin-left: -8px;
    width: 16px;
    height: 16px;

}

#tfheader {
    position: relative;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    width: 60%;
    left: 20%;
    z-index: 1;
    background-color: transparent;
    border-bottom: solid 1px white;
}

#textfield {
    position: absolute;
    top: calc(50% - 0.9em);
    outline: none;
    height: 30px;
    width: 300px;
    background-color: transparent;
    border: transparent;
    font-size: 1.2em;
    color: #696261;
}

#delete {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -6px;
    margin-top: -6px;
    height: 12px;
    width: 12px;
}



#sidebar_left {
    position: fixed;
    background-color: #362f2d;
    width : 240px;
    left: 0%;
    height: 100%;
    transition: 0.5s ease-in-out;
    -webkit- transition: 0.5s ease-in-out;
    z-index: 10;
}

#dim_background {
    position: fixed;
    background-color: #000;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    z-index: -5;
    transition: 0.3s ease;
}

#delete_container {
    position: fixed;
    width: 20%;
    height: 10%;
    min-height: 70px;
    right: 0px;
    top: 70px;
    opacity: 0;
}

#search_icon_container {
    position: fixed;
    width: 20%;
    height: 10%;
    min-height: 70px;
    left: 0px;
    top: 70px;
    transition: 0.5 ease-in-out;
    -webkit-transition: 0.5 ease-in-out;
}

#search_out {
    position: fixed;
    width: 20%;
    height: 70px;
    right: 0px;
    top: 0px;
    z-index: -20;
    opacity: 0;
    transition: 0.5 ease-in-out;
    -webkit-transition: 0.5 ease-in-out;
}

.list_thumbnail {
    height: 13px;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0px;
    width: 100%;
    height: 100px;
}

#f_nav_logo {
    position: absolute;
    width: 80%;
    top: 23px;
    left: 10%;
}


#f_nav_sorttype {
    position : relative;
    width : 100%;
    top : 60px;
    z-index: 5;
}

body {
    background-color: #d5d5d5;
}

.sorttype {
    display: block;
    height: 48px;
    width: 100%;
    padding-left: 30px;
    background: transparent;
    color: #aaa;
    font-size: 1em;
    transition: 0.3s ease;
    border: transparent;
    border-top: solid 1px #5d5856;
    border-bottom: solid 1px #5d5856;
    margin-top: -1px;
    text-align: left;
}
.sorttype:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(255,255,255,0.3);
    transition: 0.3s ease;
}

#search_sidebar {
    margin-top: 5px;
    height: 35px;
    width: 350px;
    margin-left: 270px;
    padding: 10px 0;
    border-bottom: solid 2px #858180;
}

#contents_container {
    position: absolute;
    left : 235px;
    top: -5px;
    height: 100%;
    margin: 5px;
    width: calc(100% - 240px);
    min-width: 900px;
    background-color: #e4e4e4;
    overflow-x: hidden;
    z-index: 1;
    /*box-shadow: 0px 3px 3px -1px rgba(80, 80, 80, 0.4);*/
}

.posts_box {
    position: relative;
    background-color: #fff;
    width: 800px;
    left : 50%;
    margin-left : -400px;
    border-radius: 3px;
    padding: 20px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: 0.3s ease;
}

.textarea {
    position: relative;
    width: 94%;
    padding: 20px 3%;
    top: -10px;
    font-size: 1em;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

html{
    height:100%;
    width:100%;
    overflow: hidden;
}
body{
    width:100%;
    margin:0px;
    background-color: #b3b3b3;
    font-family: 윤고딕320;
    font-family: Cocomat_Light-trial;
    font-family: Cocomat_Ultralight-trial;
}
input{
    height:87%;
    display:inline-block;
    cursor: pointer;
}
input[type="text"]{
    display: block;
    margin: 0;
    width:99%;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border:none;
    overflow: hidden;
}
input[type="text"]:focus ,textarea {
    outline: none;
    cursor: text;
}
textarea{
    display: block;
    margin: 0;
    width:100%;
    height:42px;
    font-family: sans-serif;
    font-size: 16px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border:none;
    overflow: hidden;
    background:clear;
    resize:none;

}
#submit_post{
    display: inline-block;
    position:relative;
    float: right;
    top: 12px;
    height : 38px;
}

.Contents{
    display: block;
    margin: 10px 0px 10px 0px;
    position: relative;
    padding: 10px 10px 10px 20px;

}
.ContentArea{
    overflow-y: scroll;
    position:absolute;
    width:100%;
}

.Content {
    position: relative;
    z-index: -10;
    top: 130px;
    width: 100%;
    height: 500px;
    overflow-x: hidden;
}

label {
    cursor: pointer;
}

.button {
    border-radius: 1px;
    font-family: Arial;
    color: #ffffff;
    font-size: 0.8em;
    background: #362f2d;
    padding: 7px 15px 7px 15px;
    margin: 5px;
    border: transparent;
    text-decoration: none;
    width : 100px;
    margin-top: -10px;
    margin-right: 10px;
}



.profile_pic_container {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: auto;
    text-align: center;
    margin-left: 15px;
    font-size: 0.7em;
}

#image_upload {
    margin-left: 20px;
}

#post_btns_container {
    width: 100%;
    height: 50px;
    padding:3px 0;
    margin-top: -20px;
    transition: 0.3s ease;
}

.right_postbox {
    position: relative;
    left: 50px;
    margin-left: 27px;
    width: calc(100% - 90px);
    height: auto;
}

.posted_date {
    position: absolute;
    width: 50px;
    margin-left: 10px;
    bottom: 20px;
    font-size: 0.8em;
    text-align: center;
}

.posted_img {
    width: 100%;
    height: auto;
    border-radius: 1px;
    box-shadow: 0px 2px 1px -1px rgba(80, 80, 80, 0.2);
    margin-bottom: 10px;
}

.chang {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: -3px;
    background: url(../img/chang.png);
    background-repeat: no-repeat;
    vertical-align: baseline;
    background-size: contain;
}

.chang_container {
    position: absolute;
    height: 20px;
    margin-left: 4px;
    width: 90%;
    margin-top: -25px;
}

/* Portrait */
@media only screen
    and (min-width: 575px) {

        .chang {
            width: 25px;
            height: 25px;
            margin-top: -4px;
        }
}
@media only screen
    and (min-width: 1000px) {

}

.posted_contents_container {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    background-color: white;
    box-shadow: 0px 3px 1px -1px rgba(80, 80, 80, 0.2);
}

.posted_contents_topnav {
    height: 25px;
    width: 100%;
    background-color: #5c5655;
}

.posted_textarea {
    width: 95%;
    margin-top: 10px;
    margin-left: 3%;
    font-size: 0.7em;
}

#upload_postings {
    z-index: 5;
    transition: 0.3s ease;
}

.comment_container {
    position: absolute;
    right: 5%;
    width: 60px;
    height: 25px;
    color: #aeaeae;
    font-size: 0.7em
}

.comment_btn {
    margin-left: 40%;
    margin-top: 8%;
    margin-right: 3px;
    cursor: pointer;
}

#comment {
    width: 100%;
    height: 40px;
    background-color: white;
    margin-top: 10px;
    box-shadow: 0px 3px 1px -1px rgba(80, 80, 80, 0.2);
    z-index: 1;
    border-radius: 3px;
}

#commentarea {
    position: absolute;
    left: 50px;
    margin-top: 5px;
    padding: 8px;
    width: calc(100% - 120px);
    height: 13px;
    border: solid 1px #aeaeae;
    font-size: 0.6em;
    z-index: 2;
    background-color: transparent;
}

#submit_cmt {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    width: 40px;
    height: calc(100% - 10px);
    float: right;
    text-align: center;
    border-radius: 1px;
    font-family: Arial;
    color: #ffffff;
    font-size: 0.4em;
    background: #362f2d;
    border: transparent;
    text-decoration: none;
}

#upload_pic {
    float: left;
    height: calc(100% - 20px);
    width: 30px;
    padding:8px 13px;
}

#upload_pic_height {
    position: relative;
    top: 50%;
    margin-top: -12.5px;
}

#Cmt_file {
    display: none;
}

#Post_file {
    display: none;
}

.imagePreview_Post {
    position: relative;
    width: 100px;
    height: 100px;
    display: none;
    border: 1px solid #999;
    margin-left: 30px;
}

#search_submit {
    display: none;
}

#search_img {
    margin-top: 8px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-image: url(../img/search.png);
    background: contain;
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
}

.list_thumbnail {
    position: relative;
    display: inline-block;
    height: auto;
    width: 90%;
    top: 5px;
}

#popup_comment_box {
    position: fixed;
    width: 90%;
    top: 110%;
    left: 5%;
    height: calc(100% - 20px);
    border-radius: 3px;
    background-color: #ababab;
    z-index: 20;
    box-shadow: 0px 3px 30px -1px rgba(0, 0, 0, 0.8);
    transition: 1s cubic-bezier(.68,.12,.42,1.1);
    opacity: 1;
}

#popup_comment_topnav_container {
    width: 100%;
    height: 80px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #594e4b;
}

#popup_comment_topnav {
    width: calc(100% - 40px);
    height: 20px;
    padding: 15px 20px;
    background-color: #372f2d;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: white;
    font-size: 1em;
}

#popup_comment_close {
    float: right;
    height: 15px;
}

#popup_comment_divisionline {
    bottom: 0px;
    height: 15px;
    width: 90%;
    margin-left: 5%;
    border-bottom: solid 1px #aeaeae;
}

#popup_comment_container {
    width: calc(100% - 40px);
    height: calc(100% - 120px);
    padding: 20px;
    background-color: #d5d5d5;
}

.popup_comment_listbox {
    position: relative;
    width: calc(100% - 20px);
    height: auto;
    background-color: #fdfdfd;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 3px -1px rgba(100, 100, 100, 0.8);
}

.right_popup_comment_container {
    float: right;
    width: calc(100% - 80px);
    height: auto;

}

#popup_name {
    font-size: 1.2em;
    color: black;
    width: 100%;
    border-bottom: solid 2px #b3b3b3;
    padding-bottom: 2px;
}

#popup_comment {
    position: relative;
    width: 100%;
    padding-top: 5px;
    height: auto;
    font-size: .7em;
    color: #696969;
}

#popup_comment_popupBtn {
    position: absolute;
    right: 10px;
    background: url(../img/V.png);
    width: 24px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: contain;

}

#pop_Cmt_file {
    display: none;
}

#pop_upload_pic {
    float: left;
    height: calc(100% - 20px);
    width: 30px;
    padding:8px 13px;
}

#pop_upload_pic_height {
    position: relative;
    top: 50%;
    margin-top: -12.5px;
}

#pop_commentarea {
    position: absolute;
    left: 50px;
    margin-top: 5px;
    padding: 8px;
    width: calc(100% - 120px);
    height: 13px;
    border: solid 1px #aeaeae;
    font-size: 0.6em;
    z-index: 2;
    background-color: transparent;
}

#pop_submit_cmt {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    width: 40px;
    height: calc(100% - 10px);
    float: right;
    text-align: center;
    border-radius: 1px;
    font-family: Arial;
    color: #ffffff;
    font-size: 0.4em;
    background: #362f2d;
    border: transparent;
    text-decoration: none;
}

#pop_comment {
    position: absolute;
    bottom: 0px;
    margin-bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: 40px;
    background-color: white;
    box-shadow: 0px 3px 1px -1px rgba(80, 80, 80, 0.2);
    z-index: 1;
    border-radius: 3px;
}

#close_comment {
    float: right;
    height: 15px;
}

#contents_spacer {
    width : 100%;
    height: 110px;
}


.contents_list {
    position: relative;
    background-color: white;
    width: 370px;
    left: 50%;
    margin-left:-185px;
    border-radius: 5px;
    height: 100px;
    margin-top: 10px;
    box-shadow: 0px 5px 10px -1px rgba(80, 80, 80, 0.4);
}

#contents_box {
    position: absolute;
    width: 100%;
    top: 80px;
    padding-top: 10px;
    overflow: scroll;
}
#popup_dim_background {
    position: fixed;
    background-color: #000;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    transition: 0.3s ease;

}

#menu_indicator {
    position: absolute;
    z-index: 51;
    top: 23px;
    right: 8px;
    background-color: transparent;
    transition: 0.3s ease;
    opacity: 0;
}

#popup_menu {
    position: absolute;
    width: 60px;
    padding: 10px 20px;
    height: 60px;
    right: 0px;
    top: 35px;
    z-index: 50;
    background-color: white;
    transition: 0.3s ease;
    opacity: 0;
    box-shadow: 1px 1px 3px 1px rgba(80,80,80,0.4);
}

#popup_edit {
    width: 100%;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid black;
}

#popup_delete {
    width: 100%;
    line-height: 40px;
    text-align: center;
}

#profile_logout {
    position: absolute;
    text-align: center;
    width: 240px;
    left: 0px;
    bottom: 30px;
    display: inline-block;
    font-size: 1.2em;
    color: #ccc;
}
#profile_logout:hover {
    text-decoration: underline;
}

.upload {
    position: relative;
    margin-left:-6px;
    bottom: 0px;
    text-align: center;
    vertical-align: middle;

}

.intro_img {
    display: inline-block;
}

.box_content {
    position: relative;
    margin-top : -10px;
    margin-bottom: 10px;
}

.intro_name {
    display: inline-block;
}

.intro_text {
    position: relative;
    display: inline-block;
    height : 70px;
    top: -20px;
    margin-left: 5px;
}

.text_name {
    font-size: 18px;
    font-weight: bolder;
}

.text_content {
    font-size : 13px;
}

.love_love {
    display: inline-block;
}

.love_chang {
    display: inline-block;
    margin-left: 20px;
}

.box_love {
    position: relative;
    margin-top: 5px;
}

.love_img {
    float: left;
}

.love_chang_text {
    float: left;
    position: relative;
    top: 7px;
    font-size: 1.2em;
    margin-left: 5px;
    color: #7d7d7d;
}

.chang_img {
    float :left;
}

.list {
    margin: 0px;
    overflow: hidden;
    display: inline-block;
}

#f_nav_profile_container {
    margin-top: 110px;
    text-align: center;
}

#f_nav_profile_name {
    color: white;
    margin-top : 30px;
    font-size: 1.5em;
    font-weight: 200;
}

#topbar_iconbox {
    position: fixed;
    top: 25px;
    right: 40px;
}

.topbar_icon {
    width: 30px;
    margin-left: 30px;
    height: 30px;
}

.pencil {
    width: 20px;
}

.focused_pencil {
    transition: 0.2s;
    opacity: 0;
    margin-left: -25px;
}
.focused_pencil:hover {
    opacity: 1;
}

.focused_noti {
    opacity: 0;
    transition: 0.2s;
    margin-right: -64px;
}

.focused_noti:hover {
    opacity: 1;
}



#f_nav_category {
    position : relative;
    vertical-align: middle;
    line-height: 3em;
    padding-left: 30px;
    color: #aeaeae;
    font-size: 1em;
    top: 110px;
    height: 46px;
    border-top: 2px solid #5d5856;
    border-bottom: 2px solid #5d5856;
    z-index: 5;
    transition: 0.3s ease;
}
#f_nav_category:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(255,255,255,0.3);
}

#arrow {
    width: 7px;
    height: 12px;
    float: right;
    margin-right: 15px;
    margin-top: 17px;
}

#sidebar_right {
    position: fixed;
    width: 240px;
    padding-top: 57px;
    height: calc(100% - 57px);
    background-color: #221e1c;
    z-index: 6;
    left: 0px;
    transition: 1s;
}

.category {
    position: relative;
    color: #bbb;
    height: 47px;
    padding-left: 30px;
    font-size: 1em;
    vertical-align: middle;
    line-height: 3.1em;
    border-bottom: 1px solid #2f2c2a;
    margin-top: -1px;
    transition: 0.5s;
}
.category:hover {
    background-color: #d6c492;
    color: #221e1c;
}



.input_img_box img{
    width: 100px;
    height: 100px;
}

#add_img_box {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    /* 이미지 부분 코딩 완료하면 보더 지우기! */
    margin: 10px;
    margin-right: 0px;
    margin-bottom: 30px;
}


#add_img_box img{
    width: 100px;
    height: 100px;
}
#plus_img_box {
    position: relative;
    display: none;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    /* 이미지 부분 코딩 완료하면 보더 지우기! */
    margin: 10px;
    margin-right: 0px;
    /* 개씹 야매 이거 꼭 고쳐야함 */
    top: -46px;
    background-color: #e2e2e2;
    text-align: center;
    line-height: 100px;
}


.comment_all {
    position: relative;
}

.comment {
    position: relative;
    margin-top: 10px;
    font-size: 14px;
    width :100%;
}

.comment_intro {
    position: relative;
    margin-top: 10px;
    width : 100%;
}

.comment_image {
    position: relative;
    display: inline-block;
    width :60px;
    height : 60px;
    float :left;

}

.comment_name {
    position: relative;
    display :inline-block;
    font-size : 14px;
    font-weight: bold;

}

.comment_date {
    position: relative;
    display: inline-block;
}

.write_input {
    position: relative;
    margin-top: 10px;
    font-size : 1em;
    padding: 7px;
    width : 680px;
    height: auto;
    border: 1px solid #aaa;
    display : inline-block;
}

.write_submit {
    position: relative;
    display :inline-block;
    width : 70px;
    height :30px;
    background-color : gray;
    color : white;
    text-align: center;
    line-height: 30px;
    margin-left: 10px;
    top: -10px;
}

.comment_content {
    margin-top: 15px;
    position: relative;
    width :700px;
    font-size: 1em;
    top: -10px;
    word-break: break-all;
    display: inline-block;
}

.comment_nd {
    position: relative;
    display : inline-block;
    float :left;
}

.comment_ndc {
    display: inline-block;
    position: relative;
    height : 60px;
    width : 700px;
    left : 10px;
}

.write_textarea {
    height: 1em;
}

#a {
    width : 100px;
    height : 100px;
    background-color: red;
}



.comment_write {
    position: relative;
    margin-top: 20px;
}
