@import url( "http://fonts.googleapis.com/earlyaccess/notosanskr.css" );

*{padding: 0; margin: 0;
font-family: "Noto Sans KR", 'MalgunGothic';}

.profile_pic_name_box {
    width: 100%;
    height: 60px;
    background-color: #dfdfdf;
}

#level_profile_pic {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-top: -110px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
}

#mypage_contents_spacer {
    width: 100%;
    height: 180px;
}

#profile_update_img {
    position: absolute;
    background-image: url(/static/img/camera_update.png);
    background-size: contain;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    left: 135px;
    z-index: 1;
}

#profile_name {
    font-size: 1.5em;
    margin-left: 180px;
    height: 100%;
    line-height: 2.5em;
    font-weight: bolder;
}

#level_bar_container {
    margin-top: 20px;
}

#profile_level_text {
    display: inline-block;
    width: 115px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

#profile_level_bar {
    margin-top: 5px;
    display: inline-block;
    width: calc(100% - 120px);
}

#view_image {
    position: absolute;
}

#image_close {
    float: right;
    margin-top: 190px;
    margin-right: -20px;    
}

#dim_sidebar_background {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 240px;
    width: calc(100% - 240px);
    height: 100%;
    z-index: 5;
    transition: 0.3s ease;
}


]