{% extends "blog/base.html" %}
{% block content %}
    <div class="post">
        {% if post.published_date %}
            {{ post.published_date }}
        {% else %}
            <a class="btn btn-default" href="{% url "blog.views.post_publish" post_id=post.pk %}">Publish</a>
        {% endif %}
        <a class="btn btn-default" href="{% url "post_edit" post_id=post.pk %}">
        <span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url "post_remove" post_id=post.pk %}">
        <span class="glyphicon glyphicon-remove"></span></a>
        <h1>{{ post.title }}</h1>
        <p>{{ post.text }}</p>
        <img src={{ post.image_file.url }}></img>
    </div>
{% endblock content %}
