<!doctype html>
{% load staticfiles%}
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale=1.0, minimum-scale = 1.0, user-scalable=no, target-densitydpi = medium-dpi" />
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}">
        <link rel="stylesheet" type="text/css" href="/static/css/error.css">
        <title> DONQUIXOTE </title>
        <script type="text/javascript" src="{% static "js/jquery-1.11.1.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jqeye.min.js" %}"></script>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery("#circular div.pupil").jqEye({shape: "circle", radius:12});
                jQuery("#ellipse div.pupil").jqEye({shape: "ellipse", width:34, height:14});
                jQuery("#rectangular div.pupil").jqEye({shape: "rectangle", width:25, height:25});
                jQuery("#rounded_rectangular div.pupil").jqEye({shape: "rounded rectangle", width:25, height:25, radius:5});
            });
        </script>
    </head>

    <body>


        

        <div id="monocle_container">
           <div id="circular" class="eyes">
                <div class="left_eye">
                    <div class="pupil"></div>
                </div>
                <div class="right_eye">
                    <div class="pupil"></div>
                </div>
            </div>
            <img id="monocle" src="{% static "img/DONQUIXOTERROR.png" %}">
            <h1>{{error}}</h1>
        </div>



    </body>
</html>