/*기타 잡 설정*/
html{
    overflow:hidden;
    height:100%
}

blockquote,body,button,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,select,td,textarea,th,ul{
    margin:0;
    padding:0;
    -webkit-text-size-adjust:none
}

body,button,input,select,td,textarea,th{
    font-family:'나눔고딕',NanumGothic,sans-serif;
    font-size:13px;
    color:#fff;
}

body{
    position:relative;
    height:100%;
    min-height:100%;
}

fieldset,img{
    border:0 none;
    vertical-align:top
}

dl,li,menu,ol,ul{
    list-style:none
}

a{
    cursor: pointer;
    text-decoration:none
}

a:focus,a:hover{
    text-decoration:underline
}

input[type=text]::-ms-clear{
    display:none
}
::-moz-selection {
background-color: #a3caf9;
color: #a3caf9;
}

::selection {
background-color: #a3caf9;
color: #a3caf9;
}
/*기타 잡 설정 끝*/

.logo {
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 1px solid white;
}
.contatiner{
    width: 400px;
    position: absolute;
    left: 50%;   
    margin-left: -200px;
    top : 200px;
}


#bg {
    position: fixed; top: 0; left: 0;
}
.bgwidth {
    width: 100%; 
}
.bgheight { 
    height: 100%; 
}






input +span{
    position: relative;
    margin: 3px;
    top:-3px;   
}
/* 고스트 버튼 */
.ghost-btn {
    left : 2px;
    width:calc(100% - 3em - 6px);
    height: 30px;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ccc;
    line-height: 20px;
    color: gray;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-size: 17px;
    font-weight: bold;
    padding: .5em 1.5em;
    background: white;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    zoom: 1;
    -webkit-backface-visibility: hidden;
    position: relative;
    margin-bottom:10px;
    transition: 0.3s;
}
.ghost-btn:focus {
    outline: none;
}

/* 고스트 버튼 끝 */

/*placeholder 색상 변경 */
*::-webkit-input-placeholder {
    color: #bfbfbf;
}
*:-moz-placeholder {
    color: #ccc;
}
*::-moz-placeholder {
    color: #ccc;
}
*:-ms-input-placeholder {
    color: #ccc;
}
/*placeholder 색상 변경 끝*/

/*checkbox*/

.autoLogin {
    width: 20px;
    height: 20px;
    margin: 3px;
    margin-left: 2px;
    border: solid 1px white;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    text-align: left;
    position: relative;
}

.autoLogin label {
    cursor: pointer;
    position: absolute;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    left: 1px;
    top: 1px;
    background: transparent;
    
}

.autoLogin label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    top: 4px;
    left: 4px;
}

.autoLogin input[type=checkbox]:checked + label:after {
    color: #fff;
    opacity: 1;
}

.autologin {
    margin-top: -20px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.loginForm {
    margin-top: 50px;
}
