@import url( "http://fonts.googleapis.com/earlyaccess/notosanskr.css" );

#image_close {
    float: right;
    margin-top: 190px;
    margin-right: -20px;
}

* {
    margin: 0;
    padding: 0;
    color: #343434;
    font-family: "Noto Sans KR", 'MalgunGothic';
}
*:focus {
    outline: 0;
}

#chang_score2{
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
#topnav {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    z-index: 5;
}

.top_search_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    height: 20px;
    width: 20px;
    transition: 0.5 ease-in-out;
    -webkit-transition: 0.5 ease-in-out;
}

#search {
    position: fixed;
    width: 20%;
    height: 70px;
    right: 0px;
    top: 0px;
    z-index: 20;
    transition: 0.5 ease-in-out;
    -webkit-transition: 0.5 ease-in-out;
}

#search_icon_focused {
    position: absolute;
    width: 100%;
    right: 0px;
    height: 4px;
    bottom: 0px;
    background-color: #31363d;
    opacity: 0;
    transition: 0.3s ease-in-out;
    -webkit- transition: 0.3s ease-in-out;
}

#searchbar_background {
    position: fixed;
    top: 70px;
    min-height: 70px;
    height:10%;
    width:100%;
    background-color: #43474e;
    opacity: 0;
    transition: 0.3s ease-in-out;
    -webkit- transition: 0.3s ease-in-out;
    pointer-events: none;
}

#search_icon {
    position: absolute;
    top: 50%;
    left: 45%;
    margin-top: -8px;
    margin-left: -8px;
    width: 16px;
    height: 16px;

}
.list{
    display:block !important
}
#tfheader {
    position: relative;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    width: 60%;
    left: 20%;
    z-index: 1;
    background-color: transparent;
    border-bottom: solid 1px white;
}

#textfield {
    position: absolute;
    top: calc(50% - 0.9em);
    outline: none;
    height: 30px;
    width: 300px;
    background-color: transparent;
    cursor: initial;
    border: transparent;
    font-size: 1.2em;
    color: #696261;
}

#delete {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -6px;
    margin-top: -6px;
    height: 12px;
    width: 12px;
}



#sidebar_left {
    position: fixed;
    background-color: #362f2d;
    width : 240px;
    left: 0%;
    height: 100%;
    transition: 0.5s ease-in-out;
    -webkit- transition: 0.5s ease-in-out;
    z-index: 10;
}

#dim_background {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 10000;
    transition: 0.3s ease;
}
#delete_container {
    position: fixed;
    width: 20%;
    height: 10%;
    min-height: 70px;
    right: 0px;
    top: 70px;
    opacity: 0;
}

#search_icon_container {
    position: fixed;
    width: 20%;
    height: 10%;
    min-height: 70px;
    left: 0px;
    top: 70px;
    transition: 0.5 ease-in-out;
    -webkit-transition: 0.5 ease-in-out;
}

#search_out {
    position: fixed;
    width: 20%;
    height: 70px;
    right: 0px;
    top: 0px;
    z-index: -20;
    opacity: 0;
    transition: 0.5 ease-in-out;
    -webkit-transition: 0.5 ease-in-out;
}

.list_thumbnail {
    height: 13px;
    padding-left: 10px;
    padding-right: 10px;
}
#list_count {
    margin: 0px;
    margin-right: 3px;
    overflow: hidden;
    display: inline-block;
    display: none;
    width : 180px;
    height : 180px;
    background-color: gray;
    font-size: 35px;
    line-height: 180px;
    color : white;
    text-align: center;
}
footer {
    position: absolute;
    text-align: center;
    bottom: 0px;
    width: 100%;
    height: 100px;
}

#f_nav_logo {
    position: absolute;
    width: 80%;
    top: 23px;
    left: 10%;
}


#f_nav_sorttype {
    position : relative;
    width : 100%;
    top : 60px;
    z-index: 5;
}

body {
    background-color: #d5d5d5;
}

.sorttype {
    display: block;
    height: 48px;
    width: 100%;
    padding-left: 30px;
    background: transparent;
    color: #aaa;
    font-size: 1em;
    transition: 0.3s ease;
    border: transparent;
    border-top: solid 1px #5d5856;
    border-bottom: solid 1px #5d5856;
    margin-top: -1px;
    text-align: left;
}
.sorttype:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(255,255,255,0.3);
    transition: 0.3s ease;
}

#search_sidebar {
    margin-top: 5px;
    height: 35px;
    width: 350px;
    margin-left: 270px;
    padding: 10px 0;
    border-bottom: solid 2px #858180;
}

#contents_container {
    position: absolute;
    left : 235px;
    top: -5px;
    height: 100%;
    margin: 5px;
    width: calc(100% - 240px);
    min-width: 900px;
    background-color: #e4e4e4;
    overflow-x: hidden;
    z-index: 1;
    /*box-shadow: 0px 3px 3px -1px rgba(80, 80, 80, 0.4);*/
}

.posts_box {
    position: relative;
    background-color: #fff;
    width: 800px;
    left : 50%;
    margin-left : -400px;
    border-radius: 3px;
    padding: 20px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: 0.3s ease;
}

.textarea {
    position: relative;
    width: 94%;
    padding: 20px 3%;
    top: -10px;
    font-size: 1em;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

html{
    height:100%;
    width:100%;
    overflow: hidden;
}
body{
    width:100%;
    margin:0px;
    background-color: #b3b3b3;
    font-family: 윤고딕320;
    font-family: Cocomat_Light-trial;
    font-family: Cocomat_Ultralight-trial;
}
input{
    height:87%;
    display:inline-block;
    cursor: pointer;
}
input[type="text"]{
    display: block;
    margin: 0;
    width:99%;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border:none;
    overflow: hidden;
}
input[type="text"]:focus ,textarea {
    outline: none;
    cursor: text;
}
textarea{
    display: block;
    margin: 0;
    width:100%;
    height:42px;
    font-family: sans-serif;
    font-size: 16px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border:none;
    overflow: hidden;
    background:clear;
    resize:none;

}
#submit_post{
    display: inline-block;
    position:relative;
    float: right;
    top: 12px;
    height : 38px;
    right: 10px;
}

.Contents{
    display: block;
    margin: 10px 0px 10px 0px;
    position: relative;
    padding: 10px 10px 10px 20px;

}
.ContentArea{
    overflow-y: scroll;
    position:absolute;
    width:100%;
}

.Content {
    position: relative;
    z-index: -10;
    top: 130px;
    width: 100%;
    height: 500px;
    overflow-x: hidden;
}

label {
    cursor: pointer;
}

.button {
    border-radius: 1px;
    font-family: Arial;
    color: #ffffff;
    font-size: 0.8em;
    background: #362f2d;
    padding: 7px 15px 7px 15px;
    margin: 5px;
    border: transparent;
    text-decoration: none;
    width : 100px;
    margin-top: -10px;
    margin-right: 10px;
}



.profile_pic_container {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: auto;
    text-align: center;
    margin-left: 15px;
    font-size: 0.7em;
}

#image_upload {
    margin-left: 20px;
}

#post_btns_container {
    width: 100%;
    height: 50px;
    padding:3px 0;
    margin-top: -20px;
    transition: 0.3s ease;
}

.right_postbox {
    position: relative;
    left: 50px;
    margin-left: 27px;
    width: calc(100% - 90px);
    height: auto;
}

.posted_date {
    position: absolute;
    width: 50px;
    margin-left: 10px;
    bottom: 20px;
    font-size: 0.8em;
    text-align: center;
}

.posted_img {
    width: 100%;
    height: auto;
    border-radius: 1px;
    box-shadow: 0px 2px 1px -1px rgba(80, 80, 80, 0.2);
    margin-bottom: 10px;
}

.chang {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: -3px;
    background: url(../img/chang.png);
    background-repeat: no-repeat;
    vertical-align: baseline;
    background-size: contain;
}

.chang_container {
    position: absolute;
    height: 20px;
    margin-left: 4px;
    width: 90%;
    margin-top: -25px;
}

/* Portrait */
@media only screen
    and (min-width: 575px) {

        .chang {
            width: 25px;
            height: 25px;
            margin-top: -4px;
        }
}
@media only screen
    and (min-width: 1000px) {

}

.posted_contents_container {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    background-color: white;
    box-shadow: 0px 3px 1px -1px rgba(80, 80, 80, 0.2);
}

.posted_contents_topnav {
    height: 25px;
    width: 100%;
    background-color: #5c5655;
}

.posted_textarea {
    width: 95%;
    margin-top: 10px;
    margin-left: 3%;
    font-size: 0.7em;
}

#upload_postings {
    z-index: 5;
    transition: 0.3s ease;
}

.comment_container {
    position: absolute;
    right: 5%;
    width: 60px;
    height: 25px;
    color: #aeaeae;
    font-size: 0.7em
}

.comment_btn {
    margin-left: 40%;
    margin-top: 8%;
    margin-right: 3px;
    cursor: pointer;
}

#comment {
    width: 100%;
    height: 40px;
    background-color: white;
    margin-top: 10px;
    box-shadow: 0px 3px 1px -1px rgba(80, 80, 80, 0.2);
    z-index: 1;
    border-radius: 3px;
}

#commentarea {
    position: absolute;
    left: 50px;
    margin-top: 5px;
    padding: 8px;
    width: calc(100% - 120px);
    height: 13px;
    border: solid 1px #aeaeae;
    font-size: 0.6em;
    z-index: 2;
    background-color: transparent;
}

#submit_cmt {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    width: 40px;
    height: calc(100% - 10px);
    float: right;
    text-align: center;
    border-radius: 1px;
    font-family: Arial;
    color: #ffffff;
    font-size: 0.4em;
    background: #362f2d;
    border: transparent;
    text-decoration: none;
}

#upload_pic {
    float: left;
    height: calc(100% - 20px);
    width: 30px;
    padding:8px 13px;
}

#upload_pic_height {
    position: relative;
    top: 50%;
    margin-top: -12.5px;
}

#Cmt_file {
    display: none;
}

#Post_file {
    display: none;
}

.imagePreview_Post {
    position: relative;
    width: 100px;
    height: 100px;
    display: none;
    border: 1px solid #999;
    margin-left: 30px;
}

#search_submit {
    display: none;
}

#search_img {
    margin-top: 8px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-image: url(../img/search.png);
    background: contain;
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
}

.list_thumbnail {
    position: relative;
    display: inline-block;
    height: auto;
    width: 90%;
    top: 5px;
}







#popup_comment_close {
    float: right;
    height: 15px;
}





























#contents_spacer {
    width : 100%;
    height: 110px;
}


.contents_list {
    position: relative;
    background-color: white;
    width: 370px;
    left: 50%;
    margin-left:-185px;
    border-radius: 5px;
    height: 100px;
    margin-top: 10px;
    box-shadow: 0px 5px 10px -1px rgba(80, 80, 80, 0.4);
}

#contents_box {
    position: absolute;
    width: 100%;
    top: 80px;
    padding-top: 10px;
    overflow: scroll;
}
#popup_dim_background {
    position: fixed;
    background-color: #000;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    transition: 0.3s ease;

}

#profile_logout {
    position: fixed;
    text-align: center;
    width: 240px;
    left: 0px;
    bottom: 30px;
    display: inline-block;
    font-size: 1.2em;
    color: #ccc;
    transition: 0s;
}
#profile_logout:hover {
    text-decoration: underline;
}

@media screen and (max-height: 700px) {
    #profile_logout {
        top: 534px;
        font-size: 1em;
        text-align: left;
        padding: 13px 30px;
        bottom: initial;
        width: 180px;
        color: #aeaeae;
        transition: 0.2s ease;
    }
    #profile_logout:hover {
        text-decoration: none;
        color: white;
        background-color: rgba(255,255,255,.1);
    }
}

.upload {
    position: relative;
    margin-left:-6px;
    bottom: 0px;
    text-align: center;
    vertical-align: middle;

}

.intro_img {
    display: inline-block;
    background-size: cover;
}

.box_content {
    position: relative;
    margin: 10px 5px;
}

.intro_name {
    display: inline-block;
}

.intro_text {
    position: relative;
    display: inline-block;
    height : 70px;
    top: 0px;
    margin-bottom: 30px;
    margin-left: 5px;
}

.text_name {
    font-size: 1.3em;
    font-weight: bolder;
}

.text_content {
    font-size : 0.8em;
}

.love_love {
    display: inline-block;
}

.love_chang {
    display: inline-block;
    margin-left: 20px;
}
.love_coment {
    display: inline-block;
    margin-left: 20px;
}
.box_love {
    position: relative;
    margin-top: 5px;
}

.love_img {
    float: left;
}

.love_chang_text {
    float: left;
    position: relative;
    top: 7px;
    font-size: 1.2em;
    margin-left: 5px;
    color: #7d7d7d;
}

.chang_img {
    float :left;
}

.photolist {
    margin: 0px;
    overflow: hidden;
    display: inline-block;
}

#f_nav_profile_container {
    margin-top: 110px;
    text-align: center;
}

#f_nav_profile_name {
    color: white;
    margin-top : 30px;
    font-size: 1.5em;
    font-weight: 200;
}

#topbar_iconbox {
    position: fixed;
    top: 25px;
    right: 40px;
}

.topbar_icon {
    width: 30px;
    height: 30px;
}

.pencil {
    position: fixed;
    right: 100px;
    width: 20px;
}

.focused_pencil {
    transition: 0.2s;
    z-index: 1;
    opacity: 0;
}
.focused_pencil:hover {
    opacity: 1;
}

.noti {
    position: fixed;
    right: 40px;
}

.focused_noti {
    position: fixed;
    z-index: 1;
    opacity: 0;
    transition: 0.2s;
}

.focused_noti:hover {
    opacity: 1;
}



#f_nav_category {
    position : relative;
    vertical-align: middle;
    line-height: 3em;
    padding-left: 30px;
    color: #aeaeae;
    font-size: 1em;
    top: 105px;
    height: 46px;
    cursor: pointer;
    border-top: 2px solid #5d5856;
    border-bottom: 2px solid #5d5856;
    z-index: 5;
    transition: 0.3s ease;
}
#f_nav_category:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(255,255,255,0.3);
}
#arrow {
    width: 7px;
    height: 12px;
    float: right;
    margin-right: 15px;
    margin-top: 17px;
}


#sidebar_right {
    position: fixed;
    width: 240px;
    padding-top: 57px;
    height: calc(100% - 57px);
    background-color: #221e1c;
    z-index: 6;
    left: 0px;
    transition: 0.5s ease-in-out;
}

.category {
    position: relative;
    color: #bbb;
    height: 47px;
    padding-left: 30px;
    font-size: 1em;
    cursor: pointer;
    vertical-align: middle;
    line-height: 3.1em;
    border-bottom: 1px solid #2f2c2a;
    margin-top: -1px;
    transition: 0.3s;
}
.category:hover {
    background-color: rgba(185,172,136,1);
    color: #221e1c;
}



.input_img_box img{
    width: 100px;
    height: 100px;
}

#add_img_box {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    /* 이미지 부분 코딩 완료하면 보더 지우기! */
    margin: 10px;
    margin-right: 0px;
    margin-bottom: 30px;
}


#add_img_box img{
    width: 100px;
    height: 100px;
}
#plus_img_box {
    position: relative;
    display: none;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    /* 이미지 부분 코딩 완료하면 보더 지우기! */
    margin: 10px;
    margin-right: 0px;
    /* 개씹 야매 이거 꼭 고쳐야함 */
    top: -46px;
    background-color: #e2e2e2;
    text-align: center;
    line-height: 100px;
}


.comment_all {
    position: relative;
}

.comment {
    position: relative;
    margin-top: 10px;
    font-size: 14px;
    width :100%;
}

.comment_intro {
    position: relative;
    margin-top: 10px;
    width : 100%;
}

.comment_image {
    position: relative;
    display: inline-block;
    width :60px;
    height : 60px;
    float :left;

}

.comment_name {
    position: relative;
    display :inline-block;
    font-size : 1em;
    font-weight: bold;

}

.comment_date {
    position: relative;
    display: inline-block;
}

.write_input {
    position: relative;
    margin-top: 10px;
    font-size : 1em;
    padding: 7px;
    width : 680px;
    height: auto;
    border: 1px solid #aaa;
    display : inline-block;
}

.write_submit {
    position: relative;
    display :inline-block;
    width : 70px;
    height :32px;
    background: #362f2d;
    color : white;
    text-align: center;
    vertical-align: middle;
    font-size: 1em;
    line-height: 2.5em;
    margin-left: 10px;
    top: -12px;
}

.comment_content {
    margin-top: 15px;
    position: relative;
    width :700px;
    font-size: 1em;
    top: -10px;
    word-break: break-all;
    display: inline-block;
}

.comment_nd {
    position: relative;
    display : inline-block;
    float :left;
}

.comment_ndc {
    display: inline-block;
    position: relative;
    height : 60px;
    width : 700px;
    left : 10px;
}

.write_textarea {
    height: 1em;
}

#a {
    width : 100px;
    height : 100px;
    background-color: red;
}



.comment_write {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

#categorySelect_Rate_Container {
    height: auto;
    position: relative;
    width: calc(100% - 40px);
    padding: 5px 0;
    border: 1px solid #ddd;
    border-left: transparent;
    border-right: transparent;
    margin-left: 20px;
    margin-bottom: 15px;
    z-index: 1;
}

#category_select_box select {
    position: absolute;
    top: 1.5px;
    background: transparent;
    width: 105px;
    font-size: 0.7em;
    color: #7d7d7d;
    padding: 5px;
    margin-left: 10px;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
}

#category_select_box {
    height: 15px;
    width: 260px;
}

.arrowdown {
    float: right;
    margin-right: -50px;
    color: #7d7d7d;
    vertical-align: middle;
    line-height: 1.6em;
    font-size: 0.6em;
}

#downarrow {
    float: right;
    z-index: 20;
    cursor: pointer;
}

#post_popup_container {
    display: none;
    z-index: 10;
    position: absolute;
    right: 1px;
    top: 50px;
    width: 230px;
    height: auto;
    padding: 10px;
    background: #362f2d;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#post_popup_container:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #362f2d transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -8px;
    left: 207px;
}
.popup_follow {
    height: 40px;
    margin-top: -1px;
    vertical-align: middle;
    line-height: 2.5em;
    text-align: center;
    color: #aaa;
    border-bottom: 1px solid rgba(212,196,155, 0.1);
    border-top: 1px solid rgba(212,196,155, 0.1);
    transition: 0.1s;
    cursor: pointer;
}

.popup_follow:hover{
    background-color: rgba(0,0,0,0.2);
    color: white;
}

.popup_mypost {
    height: 40px;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5em;
    color: #aaa;
    margin-top: -1px;
    border-bottom: 1px solid rgba(212,196,155, 0.1);
    border-top: 1px solid rgba(212,196,155, 0.1);
    transition: 0.1s;
    cursor: pointer;
}

.popup_mypost:hover{
    background-color: rgba(0,0,0,0.2);
    color: white;
}

#noti_container {
    position: fixed;
    width: 400px;
    height: 435px;
    padding: 20px 0;
    color: #d4396d;
    padding-bottom: 30px;
    background: #362F2D;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: right;
    right: 17px;
    top: 70px;
    z-index: -999;
    display: none;
}

#noti_container:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #362f2d transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -10px;
    right: 30px;
}

.noti_borderLine {
    border-bottom: 3px solid rgba(212, 196, 155, 0.7);
    height: 0px;
    width: 90%;
    text-align: left;
    margin: auto;
}

#noti_content_container {
    position: relative;
    width: 99%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

.noti_box {
    width: 90%;
    height: 100px;
    margin: auto;
    margin-bottom: 15px;
}

.noti_box_content {
    width: 100%;
    height: 90px;
}

.noti_box_content img {
    width: 70px;
    height: 70px;
    margin: 10px;
}

.noti_box_undertext {
    position: relative;
    margin: auto;
    border-top: 1px solid rgba(212, 196, 155, 0.2);
    border-bottom: 1px solid rgba(212, 196, 155, 0.2);
    vertical-align: middle;
    line-height: 0.9em;
    width: 99%;
    height: 20px;
}

.note_box_content_text_container {
    position: relative;
    display: inline-block;
    width: calc(100% - 193px);
    height: 65px;
    top: -15px;
}

.noti_text {
    color: #e4e4e4;
    font-size: 0.8em;
}

#btn_noti {
    display: inline;
}

.noti_date_text {
    color: #e4e4e4;
    font-size: 0.5em;
    vertical-align: middle;
}



.changImage {
    cursor: pointer;
}

#chang_score {
    position: relative;
    float: right;
    right : -60px;
}

#changHidden {
    display: none;
}

.leftcatdiv {
    float: left;
    margin-left: 5px;
}

#imageDetail {
    position: relative;
    background-repeat: no-repeat;
    height: calc(100% - 40px);
    width: calc(100% - 800px);
    background-position: center;
    background-size: contain;
    min-height: 800px;
    min-width: 800px;
    left: 400px;
    top: 20px;
}



#prevImgBtn {
    float: left;
    width: 24px;
    height: 41px;
    margin-top: 460px;
    margin-left: 10px;
}

#nextImgBtn {
    float: right;
    width: 24px;
    height: 41px;
    margin-top: 460px;
    margin-right: 10px;
}

#profileImgBox {
    width: 110px;
    height: 110px;
    margin-left: calc(50% - 55px);
    border-radius: 100%;
    background-size: cover;
}

#sidebar_right_chang {
    position: fixed;
    opacity: 1;
    width: 210px;
    height: 75px;
    padding: 10px;
    top: 455px;
    left: 0px;
    background: #362f2d;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    transition: 0.5s cubic-bezier(.22,1.09,.52,1.27);
    z-index: 5;
}

#sidebar_right_chang:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #362f2d;
    display: block;
    width: 0;
    z-index: 1;
    left: -12px;
    top: 11px;
}

.changImage2 {
    width: 34px;
    padding: 0 3px;
}

#crown {
    display: none;
    width: 55px;
    position: absolute;
    height: 55px;
    background-image: url(/static/img/crown.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 5;
    transform: rotate(310deg);
    top: -105px;
    left: -5px;
}

.comment_cat {
    font-size: 1em;
}
